<% provide(:title, "О блоге") %>
<h1 class="static-pages-title">О блоге</h1>
<div class="static-pages-info">
  <p>
    <%= image_tag "photo.jpg", :class => "about-photo" %>
  </p>
  <p>Меня зовут Ерлан. Занимаюсь разработкой веб-приложений.</p>
  <p>Умею и практикую: Ruby, Ruby on Rails, git, BDD, Rspec, sql, linux, html, css, javascript.</p> 
  <p>Сделал совместно со своими друзьями сервис <a href="http://etvans.com">"Этванс".</a> 
  </p>
  <p>
    Работаю над новыми проектами :)
  </p>
</div>