<% provide(:title, "About Us") %>
<h1 class="static-pages-title">About</h1>
<div class="static-pages-info">
  <ul>
    <li>
      Development, outsourcing and consultancy: corporate software, UX, web applications and mobile
    </li>
    <li>
      iPhone, Android apps development
    </li>
    <li>
      Premium-quality web development and mobile applications for Internet startups
    </li>
    <li>
      Ruby on Rails development: agile, scrum, behavior-driven development (BDD)
    </li>
    <li>
      Business analytics, software architecture and design
    </li>
  </ul>
</div>