<% provide(:title, "Contact") %>
<h1 class="static-pages-title">Contact</h1>
<div class="static-pages-info">
  <ul>
    <li>
      email: <a href="mailto:contact@uniqsystems.ru">contact@uniqsystems.ru</a>
    </li>
    <li>
      phone: +7 (495) 662-9747
    </li>
  </ul>
  
</div>