<% provide(:title, "Контакты") %>
<h1 class="static-pages-title">Контакты</h1>
<div class="static-pages-info">
  <ul>
    <li>
      Почта: <a href="mailto:lagox.mail@gmail.com">lagox.mail@gmail.com</a>
    </li>
    <li>
      Телефон: +7 (775) 758-45-73
    </li>
    <li>
      Скайп: lagox.skype
    </li>
    <li>
      <a href="http://www.facebook.com/yerlankussainov">Facebook</a>
    </li>
  </ul>
  
</div>