@import "bootstrap";


.logo{
  margin-top:20px;
  margin-bottom:20px;
  #logo_link{
    margin-left:20px;
    color:#686868;
    &:hover{
      color:#a2a2a2;
      text-decoration:none;
    }
  }  
}

// form for new post

#post_post{
  width:400px;
  height:200px;
}


// footer
.footer{
  border-top:1px solid #eee;
  padding-top:20px;
  margin-top:10px;
  margin-bottom:20px;
  ul{
    list-style-type:none;
    li{
      float:left;
      margin-right:10px;
    }
  }
}

.clear{
  clear:both;
}

// sidebar
#sidebar{
  margin-top:20px;
  h4{
    text-align:right;
  }
}

.content-categories{
  // border:1px solid #ccc;
  margin-top:10px;
  padding:5px;
}
#menutree{
  font-size:14px;
  list-style-type:none;
  li{
    margin-bottom:10px;
  }
  ul {
    list-style-type:none;
    margin-top:7px;
  }
}

// errors:
.errorExplanation{
  padding:20px 0px;
  font-weight:bold;
  color:#c23125;
}