// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.static-pages-title{
  margin-left:20px;
  color:#898989;
}
.static-pages-info{
  margin-top:20px;
  margin-left:30px;
}