// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// show post page
.show-post{
  margin-top:20px;
  margin-bottom:10px;
  .post-title{
    margin-bottom:15px;
  }
  .post-body{
    font-family:Georgia;
    text-align:justify;
    line-height:1.7em;
    font-size:14px;
  }
  .post-info{
    font-size:11px;
    margin-top:10px;
  }
  .admin-actions{
    font-size:10px;
    margin-top:5px;
  }
}
.sort_by_date{
  text-align:right;
}