// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// show post page
.show-post{
  margin-top:10px;
  margin-bottom:30px;
  .post-title{
    margin-bottom:15px;
    a{
      color:#345381;
    }
  }
  .post-body{
    // font-family:Georgia;
    text-align:justify;
    line-height:1.7em;
    font-size:14px;
  }
  .post-info{
    color:#5c5a60;
    margin-top:15px;
    border:1px solid #eee;
    padding:3px 10px;
    font-size:10px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -o-border-radius:5px;
  }
  .admin-actions{
    float:right;
    font-size:10px;
  }
}
.sort_by_date{
  font-size:11px;
  text-align:right;
}

// comments:
#comments-post{
  margin-top:10px;
  margin-bottom:20px;
  .comment{
    font-size:12px;
    padding:5px;
    margin-bottom:10px;
    .commentator-name{
      font-weight:bold;
    }
    .comment-date{
      display:inline-block;
      float:right;
      font-size:11px;
      color:#8b8994;
      font-weight:normal !important;
    }
    .commentator-comment{
      color:#626361;
      margin-top:5px;
      text-align:justify;
      line-height:1.5em;
    }
  }
}
.new_comment{
  padding-left:5px;
}

// recaptcha
.recaptcha_field{
  margin-bottom:10px;
}
.captcha{
  width:50px;
}
.count-comment{
  display:inline-block;
  margin-left:20px;
  a{
    color:#345381;
  }
}