<div class="row footer">
  <div class="span12">
    <ul>
      <li><%= link_to "Домой", root_path %></li>
      <li><%= link_to "О нас", about_path %></li>
      <li><%= link_to "Контакты", contact_path %></li>
    </ul>
    <div class="copyright">
      &copy; 2012 uniqsystems.ru
    </div>
    <div class="clear"></div>
  </div>
</div>