<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "uniqsystems.ru", root_path, class: "brand" %>
      <ul class="nav">
        <li class="active">
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Contacts</a>
        </li>
      </ul>
      <form class="navbar-search pull-left">
       <input type="text" class="search-query span2" placeholder="Search">
      </form>
    </div>
  </div>
</div>