<div id="sidebar" class="span3">
  <h4>Categories:</h4>
  <div class="content-categories">
    <ul id="menutree">
    <% for category in @sidebar_categories %>
      <% if isset_subcat?(category) %>
        <li class="closed">
          <span class="folder">
            <%= link_to category.title, category %>
          </span>
          <%= raw find_all_subcategories(category) %>
        </li>
      <% else %>
        <li>
          <span class="notsubcat">
            <%= link_to category.title, category %>
          </span>
        </li>
      <% end %>
      
    <% end %>
  </ul>
    
  </div>
</div>